<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    <title>Rock Paper Scissorss</title>
  </head>
  <body>
    <div id="container">
      <%= image_tag("paper left.png", class: "imgPaper")%>
      <%= image_tag("rock left.png", class: "imgRock")%>
      <%= image_tag("scissors left.png", class: "imgScissors")%>
      <h1>Rock-Paper-Scissors</h1>
      <p class="glow"> <span class="blink">PLAY</span> </p>
    </div>

  </body>
</html>
